<h1> New Restaurant</h1>

 <form action="/create">
  <label for="question">Post your task</label>
  <input type="text" id="question" name="name" placeholder="what is the name of the task?">
  <input type="boolean" id="question" name="done" placeholder="Is your task completed?">
  <input type="submit" value="Go on!">
  </form>
