<h1>Edit Task</h1>

<!-- <form action="/create">
  <label for="question">Post your task</label>
  <input type="text" id="question" name="name" placeholder="what is the name of the task?" value="params[:name]">
  <input type="text" id="question" name="done" placeholder="Is your task completed?" values = "params[:done]">
  <input type="submit" value="Go on!">
  </form> -->

<p>Tasks</p>

<%= render 'form' %>
