<!--  <form action="/tasks" method="post">
  <label for="name">Post your task:</label>
  <input type="text" id="name" name="tasks[name]" placeholder="what is the name of the task?">
  <input type="text" id="done" name="tasks[done]" placeholder="Is your task completed?">
  <input type="submit" value="Go on!">
  </form> -->

<h1>Tasks</h1>

<%= render 'form' %>
